.menu {
  background-color: var(--white);
  padding-top: 2em;
  border-top: 2px solid;
}

.menu .container {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
}

.menu .container .headline-1 { margin: 0 auto 1em auto;}

.menu .section-btn { 
  color: var(--black);
  position: relative;
  width: max-content;
  margin: auto;
  padding: 1rem;
  margin-bottom: 32px;
  text-align: center;
  /* border: 1px solid black; */
}

.section-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin-bottom: 0.3em;
  transform: scale(0, 1);
  transition: 0.2s ease-in-out;
  background: -webkit-linear-gradient(left, #027017 40%,#027017 40%,#ffffff 50%,#eb0505 60%);
}

.menu .section-btn:hover, 
.menu .section-btn.active::after,
.menu .section-btn:hover::after {
  cursor: pointer;
  transform: scale(1, 1);
} 

.menu .grid-list { 
  background-color: var(--white);
  margin-block-end: 50px;
  position: relative;
  display: none;
}

.menu .grid-list.active { display: block; }

.grid-list li {  
  margin-bottom: 1em;
  border-radius: var(--radius-24);
  background-color: #f2f2f2;
}

.menu-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  padding: 20px;
}

.menu-card .card-banner {
  width: 50px;
  position: relative;
  width: 60%;
}

.menu-card .card-banner img { 
  border-radius: 12px;
  position: relative;
  transition: var(--transiytion-1);
}

.menu-card .card-text-container {
  text-align: center;
  width: 95%;
  position: relative;
}

.menu-card .card-title { font-weight: var(--weight-regular); }

.menu-card .title-2 {
  color: var(--black);
  margin-block: 10px;
}

.menu-card .card-text {
  color: var(--black);
  line-height: var(--lineHeight-4);
}

 .toggle-description {display: none; }

 .read-button {
  color: var(--green-italy-flag);
  font-weight: var(--weight-bold);
  transition: var(--transiytion-1);
 }

 .read-button:is(:hover, :focus-visible) { color: var(--red-italy-flag) }

 .menu .menu-hours {
  color: var(--green-italy-flag);
  padding: 20px;
  padding-bottom: 40px;
 }

 .menu-hours h3 {
  color: var(--black);
  font-weight: var(--weight-regular);
  text-align: center;
  padding-top: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
 }

 .menu-hours p { 
  font-size: var(--fontSize-label-1);
  color: #303030b8;
  font-weight: var(--weight-bold);
  line-height: 2em;
  letter-spacing: 1px;
  display: flex; 
  justify-content: space-between;
}

.menu .menu-hours .span-hour { color: var(--eerie-black-4); }
 
/* media queries */

@media (min-width: 500px) {

  .menu .grid-list.active {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    padding: 1em;
  }
  
  .grid-list li {
    width: 100%;
  }

  .menu-card {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }

}

@media (min-width: 900px) {

  .menu {
    margin-top: 100px;
  }

  .menu .section-btn {
    margin-bottom: 45px; 
    padding: 0.5em;
    font-size: 2.5em;
  }

  .section-btn::after { 
    transform: scale(1, 1);
    height: 0.2em; 
  }

  .menu .grid-list {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    padding: 3em;
  }

  .menu .grid-list.active { display: none;}
  
  .grid-list li { width: 75%; }

  .menu-card {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }

  .menu-card .card-title { font-size: 0.9em;}

  .menu-card .title-2 {
    color: var(--black);
    font-size: 1.2em;
    margin-block: 10px;
  }

  .menu-card .card-text {font-size: 0.8em;}
}

@media (min-width: 1450px) {

  .menu-card .card-title { font-size: 1.4em;}

  .menu-card .title-2 {
    color: var(--black);
    font-size: 1.5em;
    margin-block: 10px;
  }

  .menu-card .card-text {font-size: 1.2em;}
}

@media (min-width: 2560px) {

  .menu-card .card-title { font-size: 2.5em;}

  .menu-card .title-2 {
    color: var(--black);
    font-size: 2.3em;
    margin-block: 10px;
  }

  .menu-card .card-text {font-size: 2em;}
}