.events {
  background-color: var(--white);
  width: 100%;
}

.events .headline-1 {
  text-align:  center;
  padding: 1em;
  padding-bottom: 1em;
}

.events .banner-list {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin: 0 auto;
}

.events .banner-list li,
.events .banner-list div {
  margin: 1em auto;
  border-radius: 12px;
}

.events .banner-list div {
  box-shadow:
  2.1px 1.5px 2.7px rgba(0, 0, 0, 0.047),
  5.3px 3.9px 6.9px rgba(0, 0, 0, 0.067),
  10.8px 8px 14.2px rgba(0, 0, 0, 0.083),
  22.3px 16.4px 29.2px rgba(0, 0, 0, 0.103),
  61px 45px 80px rgba(0, 0, 0, 0.15)
;
}

.events .banner-list img {
  width: 100%;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.events .banner-list img:hover {
  transform: scale(1.02);
}

.card-banner p {
  margin: 20px;
  text-align: center;
  background-color: var(--black);
  color: var(--white)
}

@media (min-width: 768px) {
  .events { margin-top: 100px; }

  .events .banner-list {
    padding: 2em;
    flex-flow: row nowrap;
    gap: 1em;
  }
}