.hero {
  position: relative;
  color: var(--black);
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero .slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  position: relative;
  color: var(--black);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}

.hero .slider-item.active .slider-bg { 
  animation: smoothScale 9s linear forwards; 
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform : scale( 1.15) }
}

.hero .section-subtitle::after { margin-block: 14px 20px }

.hero-text { 
  font-weight: var(--weight-bold);
  margin-block: 10px 40px;
 }

 .hero .btn { 
  margin-inline: auto;   
}

/* .btn.btn-primary {
  color: var(--black);
  border-color: var(--black);
} */

.hero-btn {
  position: absolute;
  top: 560px;
  right: 110px; 
  z-index: 2;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
}

.hero-btn,
.hero-btn img {
  width: 80px;
  height: 80px;
}

.hero-btn .span {
  position: absolute;
  top: 50px;
  color: var(--white);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  line-height: var(--lineHeight-2);
}

.hero-btn::after {
  content: "";
  inset: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  animation: rotate360 15s linear infinite;
  border: 3px solid black; 
  z-index: -1;
}

@keyframes rotate360 {
  from { transform: rotate(0); }
  to { transform: rotate(1turn); }
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderRevel 1s ease forwards;
}

@keyframes sliderRevel {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }

.hero .slider-item.active .hero-title { animation-delay: 1000ms; }

.hero .slider-item.active .hero-text { animation-delay: 1.5s; }

.hero .slider-item.active .btn { animation-delay: 2s; }



