.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  padding-top: 2em;
}

.about .headline-1 {
  margin-bottom: 1em;
  text-align: center;
}

.about-content {
  display: flex;
  flex-flow: column-reverse nowrap;
}

.about-text-container {
  padding: 0 1em;
  font-size: 14px;
}

.about-text-container p {
  text-align: center;
  color: var(--black);
  letter-spacing: 1.3px;
  line-height: 1.6em;
  font-weight: var(--weight-regular);
}

.about-image-container {
  max-width: 550px;
  padding: 1em;
  align-self: center;
}

.slideshow-container {
  position: relative;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;  
}

.slideshow-container img { 
  width: 100%;
  border-radius: var(--radius-24);
}

.slide { 
  display: none; 
  background: transparent;
}

.slide.active-about { 
  background: transparent;
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: rgba(0,0,0, 0.5);
  font-weight: var(--weight-bold);
  font-size: 25px;
  user-select: none;
  transition: 0.6s ease;
}

.next { right: 0.5em; }
.prev { left: 0.5em; }

.prev:hover,
.next:hover {
  color: black;
}

.dots { 
  position: absolute;
  bottom: 1em;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

.dot {
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  margin: 0 5px;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 50%;
  display: inline-block;
}

.active-about, .dot:hover {
  background-color: var(--black);
}

/*Fading animation*/

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to {opacity: 1;}
}

@media (min-width: 1000px) {

  .about {
    margin-top: 100px;
  }
  
  .about-content {
    display: flex;
    padding: 0 3em;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }

  .about-text-container {
    padding: 0 0.5em;
    width: 50%;
  } 

  .about-image-container {
    width: auto;
    max-width: 500px;
  }



  .about-text-container p {
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: var(--weight-regular);
  }

}

@media (min-width: 2560px) {
  
  .about-content {
    display: flex;
    padding: 0 3em;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }

  .about-text-container {
    padding: 0 0.5em;
    width: 50%;
  } 

  .about-image-container {
    width: auto;
    max-width: 850px;
  }



  .about-text-container p {
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight: var(--weight-regular);
  }

}