.contact-label { font-weight: var(--weight-bold); }

.overlay {display: none;}

.header {
  border: 2px solid white;
  padding-block: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 4; 
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}

.header.active {
  background-color: var(--white);
  transition: 0.5s ease-in-out;
}

.header.hide {
  transform: translateY(-100%);
  transition-delay: 250ms;
}

.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.container .logo { margin-right: 3em;}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-alpha-80);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}