.btn {
  position: relative;
  color: var(--black);
  font-size: var(--font-size-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid var(--black);
  padding: 12px 40px;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -50%;
  width: 200%;
  height: 200%;
  margin: 0;
  background-color:  #0000009e;
  transition: var(--transition-2);
  z-index: -1;
}

.btn .text { 
  text-align: center;
  font-weight: var(--weight-regular);
  transition: var(--transition-1);
}

.btn .text-1 { 
  font-weight: 600; 
}

.btn .text-2 {
  position: absolute;
  top: 100%;
  /* to Center*/
  left: 50%;
  transform: translateX(-50%);
  min-width: min-content;
  color: var(--white);
}

.btn:is(:hover, :focus-visible)::before { bottom: -50%; }
.btn:is(:hover, :focus-visible) .text-1 { transform: translateY(-50px);}

.btn:is(:hover, :focus-visible) .text-2 {
  top: calc(50% - 20px);
  transform: translateY(-50%, -50%);
}
.btn-secondary {
  background-color: var(--gold-crayola);
  color: var(--black);
}

.btn-secondary::before { background-color: var(--white); }

.btn-secondary .text-2 { color: var(--black); }