.navbar.active {
  visibility: visible;
  transform: translateX(430px);
}

.navbar {
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: -430px;
  bottom: 0;
  max-width: 430px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2;
  transition: var(--transition-2);
}

.navbar .logo {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 60px
}

.navbar .close-btn {
  color: var(--black);
  font-size: 25px;
  padding: 4px;
  margin-inline-start: auto;
  margin-block: 25px 15px; 
}

.navbar .close-btn:is(:hover, :focus-visible) { color: var(--red-italy-flag); }

.navbar-list {
  border-block-end: 1px solid var(--black);
}

.navbar-item { border-block-start: 1px solid var(--black); }

.navbar-link {
  color: var(--black);
  font-weight: var(--weight-bold);
  position: relative;
  text-transform: uppercase;
  font-size: var(--fontSize-label-2);
  padding-block: 10px;
  max-width: unset;
}

.navbar-link::after { display: none; }

.navbar-link .span { transition: var(--transition-1); }

.navbar-link:is(:hover, :focus-visible, .active) .span {
  color: var(--red-italy-flag);
  transform: translateX(20px);
}

.navbar-link .separator {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate( 45deg);
  opacity: 0;
  transition: var(--transition-1);
}

.navbar-item:is(:hover, :focus-visible, .active) .separator { opacity: 1; }

.navbar-title {
  margin-block-start: 20px;
  font-weight: var(--weight-bold);
  color: var(--black);
}

.navbar .body-4 {
  color: var(--eerie-black-4)
}

.sidebar-link { transition: var(--transition-1); }

.sidebar-link:is(:hover, :focus-visible) { color: var(--green-italy-flag) }

.navbar .text-center .separator {
  margin-block: 20px;
  margin-inline: auto;
}

.navbar .contact-label {
  color: black;
  margin-block-end: 10px;
}

.navbar::-webkit-scrollbar-thumb { background-color: var(--black); }